{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <h1>Краткая биография!</h1>
        <br>
        <p>
        Родился 1994 году в Таджикистане, в городе Регар. Пошёл в школу в 6 лет.
        Успел побывать в 5 школах. И в итоге выпустился в лицее << Сугдиён >>.
        <p>В 2011 году поступил в СПбПУ и упешно оконцил и магистратуру в 2017году по специальности     Инженерно-техническое обеспечение безопасности.</p>
        <p>С 2019 года являюсь гражданином РФ. 
        На данный момент пытаюсь пробиться в сферу IT ибо больше нигде не вижу перспективу!</p>
        </p>
    </div>
{% endblock %}
