{% extends 'blog/base.html' %}
<form method="GET"></form>

<html lang="ru">
<head>
<head>
    <title>Блог Хуршеда</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="icon" type="image" href="https://img.icons8.com/color/100/000000/astronaut-helmet.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Прокрастинация</title>
  <link rel="stylesheet" href="{% static 'css/unique.css' %}">
</head>
<body>
  <div class="header">
    <p class="logo">Procrastinate.</p>
  </div>

  <img class="image" src="https://code.s3.yandex.net/web-code/procrastinate/9.png">

  <div class="advice">
    <div class="button">Ещё идея</div>
    <span>Не писать код, а</span>
    <span class="phrase">что бы поделать?</span>
    <img class="cursor" src="https://code.s3.yandex.net/web-code/cursor.gif">
  </div>

  <p class="footer">© 2020 ъуъ </p>
  <script src="https://code.s3.yandex.net/web-code/smoothly.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
