{% load static %}
<html>
    <head>
        <title>Блог Хуршеда</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="icon" type="image" href="https://img.icons8.com/color/100/000000/astronaut-helmet.png">
    </head>
    <body>
      <div class="page-header">
          <a href="/admin" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
          <a href="/post/new" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% if user.is_authenticated %}
              <a href= "{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
              {% endif %}
          <h1><a href="/" class="blog">Блог</a></h1>
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
      <div class="content container">
          <h1> USER MUST BE AUTHORIZED</h1>
      </div>


      <footer class="footer">
        <h4 class="footer-author">Фамилия Хуршед Отчество</h4>
        <h1 class="footer-author textik"><a href="{% url 'about' %}">▼Про меня</a> </h1>
        <h1 class="footer-author textik"><a href="{% url 'contacts' %}">▼Контакты</a></h1>
        <h1 class="footer-author textik"><a href="{% url 'unique' %}" target="_blank">▼Кое-что</a></h1>
        </footer>
  </body>
</html>
